.navbar-dark a {
    display: block;
    color: dodgerblue;
    text-align: center;
    padding: 15px 18px;
    font-size: 10px;
    text-align: center;
}

* {box-sizing: border-box;}
.navbar-dark {
    overflow: hidden;
    background-color: #056b5b;
}